logs
target
/.idea
/.idea_modules
*.iml
/.classpath
/project/project
/project/target
/.settings
/.project

# LaTEX garbage

*.aux
*.bbl
*.blg
*.log
*.out

# main.pdf for now is out of version control

main.pdf